.homepage {
	display: flex;
	width: 100vw;
	height: 200vh;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

#restaurant-banner {
	width: 100vw;
	height: 40%;
}

.pizzas_listed_display_none {
	display:none;
}

.pizzas_listed_display_block {
	display:block;
}